@import url('./base.css');

/* HEADER */

/* header-top */
.header__top{
    background-color: #eef1f3;
}
.header-top--content{
    height: 100px;    
}
.logo-text{
    font-size: 30px;
    font-family: "Quicksand";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.933;
    text-align: left;
}
.logo-text--item{
    color: #0674ec;
}

.navbar-collapse{
    flex-grow: unset !important;
}
.header__btn{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: left;
    padding: 13px 18px;
}
.notification{
    position: relative;
}
.notification i{
    color: rgb(126, 143, 161);
}
.notification-text{
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    top: -7px;
    left: 14px;
}
.notification__alarm .notification-text{
    background-color: #ff6a6c;
    left: 14px;
}
.notification__message .notification-text{
    background-color: #62d03b;
    left: 21px;
}
.notification__shop .notification-text{
    left: 18px;
}
.header__circle{
    width: 50px;
    height: 50px;
    background-color: rgb(124, 121, 121);
}
.header-time--title,.header-time--subtitle{
    color: #333333;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 500;
}
.header-time--subtitle{
    font-weight: 400;
}

/* header-nav */
.header-nav--inner{
    padding: 17px 0;
    margin-left: 0 !important;
}
.menu__item:not(:last-child){
    margin-right: 34px;
}
.menu__link{
    color: #333333;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2.8;
    font-weight: 600;
}
.header-search{
    position: relative;
}
.header-search--input{
    padding: 14px 72px 14px 24px;
    box-sizing: border-box;
    width: 360px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header-search--btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    border-color: rgb(13,110,253);
    padding: 15px 26px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header-search--btn:focus{
    border-color: rgb(13,110,253);
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,0.4);
}